<!doctype html>
<!-- Version {{version}} -->
<html lang="en">
  <head>
    <title>WFR Review</title>
    <style>
      .hidden_info {
        display: none;
      }

      .special_text {
        border-bottom: 1px dotted black;
        cursor: help;
        display: inline
      }
    </style>

  </head>
  <body>
    <h1>WFR Review!</h1>

    <button id="revealButton" onclick="myFunction()">Reveal</button> <button onclick="window.location.reload()">Give me a new patient</button>

    <p>You have a {{patient.age}} year old {{ patient.sex }} patient named {{ patient.name }}.</p> <p class="hidden_info">They have <strong>{{ patient.condition_name }}</strong>: {{ patient.condition_description }}</p>
    <div>
      <h2>Vitals</h2>
      <ul>
        <li>Level of responsiveness: {{ patient.level_of_responsiveness }}</li>
        <li>Heart: {{ patient.heart_rate }} bpm / {{ patient.heart_strength }} / {{ patient.heart_rhythm }}</li>
        <li>Respiratory: {{ patient.respiratory_rate }} breaths per min / {{ patient.respiratory_rhythm }} rhythm / {{ patient.respiratory_effort }}</li>
        <li>Skin: {{ patient.skin_color }} / {{ patient.skin_temperature }} / {{ patient.skin_moisture }}</li>
        <li>Temperature: {{ patient.body_temperature|round(1) }} &#176;F</li>
        <li>Pupils: {{ patient.pupils }}</li>
        <!-- <li>Blood pressure: {{ patient.blood_pressure }}</li> -->
      </ul>
    </div>
    <div>
      <h2>Symptoms</h2>
      <ul>  
        {% for symptom in patient.condition_selected_symptoms %}
            <span><li>{{ symptom }}</li></span>
        {% endfor %}
        {% for symptom in patient.condition_hidden_symptoms %}
            <div class="hidden_info"><li><span class="special_text" title="This symptom was present but hidden because its effect was shown via a change in the patient's vital signs.">{{ symptom }}</span></li></div>
        {% endfor %}
        {% for symptom in patient.condition_unselected_symptoms %}
            <div class="hidden_info"><li><span class="special_text" title="This symptom was not present in this particular patient">{{ symptom }}</span></li></div>
        {% endfor %}
      </ul>
    </div>

    
    <div class="hidden_info">
      <h2>Treatments</h2>
      <ul>
        {% for treatment in patient.condition_treatments %}
        <li>{{ treatment }}</li> 
        {% endfor %}
      </ul>
      <h2>Evacuation guidelines</h2>
      <ul>
        {% for guideline in patient.condition_evacuation_guidelines %}
        <li>{{ guideline }}</li> 
        {% endfor %}
      </ul>
    </div>

    <script>
      function myFunction() {
        // hide the button
        document.getElementById("revealButton").disabled = true;

        // unhide everything that has the class `hidden_info`
        const collection = document.getElementsByClassName("hidden_info");
        for (let item of collection) {
            item.style.display = "block";
        }
      }
    </script>
  </body>
</html>
