<!doctype html>
<!-- Version {{version}} -->
<html lang="en">
  <head>
    <title>WFR Review</title>
    <link href="{{ url_for('static', path='/basic.css') }}" rel="stylesheet">
  </head>
  <body>
    <h1>WFR Review!</h1>
    <button id="revealButton" onclick="myFunction()">Reveal</button> <button onclick="window.location.reload()">Give me a new patient</button>

    <p>You have a {{patient.age}} year old {{ patient.sex }} patient named {{ patient.name }}.</p> <p class="hidden_info">They have <strong>{{ patient.condition_name }}</strong>: {{ patient.condition_description }}</p>
    <div class="container">
      <div class="column left">
        <h2>Symptoms</h2>
        <ul>  
          {% for symptom in patient.condition_selected_symptoms %}
              <li>{{ symptom }}</li>
          {% endfor %}
          {% for symptom in patient.condition_hidden_symptoms %}
              <li class="hidden_info"><span class="special_text" title="This symptom was present but hidden because its effect was shown via a change in the patient's vital signs.">{{ symptom }}</span></li>
          {% endfor %}
          {% for symptom in patient.condition_unselected_symptoms %}
              <li class="hidden_info"><span class="special_text" title="This symptom was not present in this particular patient">{{ symptom }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column right">
        <h2>Vitals</h2>
        <ul>
          <li>LOR: {{ patient.level_of_responsiveness }}</li>
          <li>HR: {{ patient.heart_rate }} bpm / {{ patient.heart_strength }} / {{ patient.heart_rhythm }}</li>
          <li>RR: {{ patient.respiratory_rate }} / {{ patient.respiratory_rhythm }} / {{ patient.respiratory_effort }}</li>
          <li>SCTM: {{ patient.skin_color }} / {{ patient.skin_temperature }} / {{ patient.skin_moisture }}</li>
          <li>Temp: {{ patient.body_temperature|round(1) }} &#176;F</li>
          <li>Pupils: {{ patient.pupils }}</li>
          <!-- <li>Blood pressure: {{ patient.blood_pressure }}</li> -->
        </ul>
      </div>
    </div>
      
    <div class="hidden_info">
      <h2>Treatments</h2>
      <ul>
        {% for treatment in patient.condition_treatments %}
        <li>{{ treatment }}</li> 
        {% endfor %}
      </ul>
      <h2>Evacuation guidelines</h2>
      <ul>
        {% for guideline in patient.condition_evacuation_guidelines %}
        <li>{{ guideline }}</li> 
        {% endfor %}
      </ul>
    </div>

    
    <script>
      function myFunction() {

        // unhide everything that has the class `hidden_info`
        const collection = document.getElementsByClassName("hidden_info");
        for (let item of collection) {
            item.style.visibility = "visible";
        }
        // hide the button
        document.getElementById("revealButton").disabled = true;

      }
    </script>
  </body>
</html>
